<html>
    <head>
    </head>
    <body>
        <h1>Meme</h1>
        <form method="POST" enctype="multipart/form-data" class="">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="">Save</button>
    </form>
    </body>
</html>