You're: {{current_user.username}}

We're building this page, press <a href="{% url 'logout' %}">here</a> to logout

,press <a href="{% url 'home' %}">here</a> to go home

,press <a href="{% url 'add_meme_image' %}">here</a> to
add a meme.
