@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald|Merriweather');

:root {
  --main-background-color: #333;
  --main-text-color: #e7e7e7;
  --main-color-accent: #00bcd4;
}

/* Set styles for the entire page. */
body {
  width: 100%;
  height: 100%;

  background-color: var(--main-background-color);
  color: var(--main-text-color);

  font-family: 'Merriweather', 'Times', 'Georgia', 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', 'Open Sans', 'Segoe UI', 'Helvetica', 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

main {
  min-height: 100%;
}

/* Avoids collision with the fixed navbar */
.meme-body {
  padding-top: 60px;
}

/* Makes meme's information headings (like ID and author) more relevant */
.meme-id h3,
.meme-author h3 {
  text-transform: uppercase;
  letter-spacing: 2px;

  font-size: 1.2em;
}

/* Highlights meme's author name which is also a link to his account. */
.meme-author__link {
  color: var(--main-color-accent);
  font-family: inherit;

  position: relative;
  z-index: 9999;

  padding-bottom: 5px;
}

.meme-author__link::before {
  width: 0;
  height: 100%;

  content: ' ';
  position: absolute;
  top: 0; left: 0;

  border-bottom: 3px solid var(--main-color-accent);

  -webkit-transition: 0.3s ease-out width;
          transition: 0.3s ease-out width;
}

.meme-author__link:hover,
.meme-author__link:focus,
.meme-author__link:active {
  color: var(--main-color-accent);
  text-decoration: none;
}

.meme-author__link:hover::before,
.meme-author__link:focus::before,
.meme-author__link:active::before {
  width: 100%;
  -webkit-transition: 0.3s ease-in width;
          transition: 0.3s ease-in width;
}

/* Aligns meme's comment to the center */
.comment_content {
  text-align: center;
}

.meme_img {
  margin-top: 10px;
  max-width: 100%;

  border-radius: 2px;
  box-shadow: 1px 1px 40px #0a1138;
}

.img_container {
  background: url(/public/img/meme4u-meme-not-found.png) no-repeat center;
  background-size: contain;

  height: 70vh;
  text-align: center;
}


.col-sm-4 > div {
  height: 25%;
}

.col-sm-6 {
  text-align: center;
  margin-top: .7%;
}

a.forn {
    position: relative;
    top: 50%;
    left: 50%;
}
