{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "style.min.css" %}">

    <title>meme4u</title>
  </head>
  <body>
    <main class="container-fluid main">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <section class="container-fluid">
          <header class="navbar-header">
            <a class="navbar-brand" href="#">meme4u</a>
          </header>
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Home</a></li>
          </ul>
        </section>
      </nav>

      <div class="row meme-body">
        <div class="col-sm-8 col-sm-offset-2 img_container"></div>
      </div>

      <div class="row meme-details">
        <article class="col-sm-6 meme-id">
          <h3>ID</h3>
          <p class="id_number meme-id__value"></p>
        </article>

        <article class="col-sm-6 meme-author">
          <h3>Author</h3>
          <a class="posted_by_name meme-author__link" target="_blank"></a>
        </article>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 comment_content">
        </div>
      </div>
    </main>
    <!-- jQuery, Bootstrap.js and custom -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "script_home.js" %}"></script>
  </body>
</html>
